@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 65.2%;
    font-family: 'Spartan', sans-serif;
}
.bg-top {
    position: absolute;
    background: url(../images/bg-pattern-top-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    top: -123px;
    left: -350px;
}
.bg-bottom {
    position: absolute;
    background: url(../images/bg-pattern-bottom-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    bottom: 0px;
    right: 0px;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.card {
    max-width: 960px;
    
}
.card-item {
  
    min-height: 208px;
    display: flex;
    justify-content: space-between;
}
.introduce {
    flex: 1;
}
.introduce__heading {
    font-size: 3.4rem;
    font-weight: 700;
    color: var(--Very-Dark-Magenta);
    padding-right: 20%;
}

.introduce__desc {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.2rem;
    color: var(--Dark-Grayish-Magenta);
    padding-right: 20%;
}
.rate {
    flex: 1;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
.rate__item {
    background-color: var(--Light-Grayish-Magenta);
    border-radius: 10px;
    height: 50px;
    max-width: 398px;
    display: flex;
    align-items: center;
    
}
.rate__item:nth-of-type(2) {
  margin-left: 8%;
}
.rate__item:nth-of-type(3) {
    margin-left: 16%;
  }
.rate__wrap-icon {
    display: inline-block;
    margin: 0 20px;
}
.rate__icon {
    margin: 0 2px;
}
.rate__text {
    font-size: 1.1rem;
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
}
.comment {
 
    background-color: var(--Very-Dark-Magenta);
    border-radius: 10px;
    width: 304px;
    height: 200px;
  
}
.comment:nth-of-type(1) {
    margin-top: 60px;
}
.comment:nth-of-type(2) {
    margin-top: 80px;
}
.comment:nth-of-type(3) {
    margin-top: 100px;
}
.comment-wrap {
    margin: 34px 26px 0;
    display: flex;
    align-items: center;
}
.comment__user-avartar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.comment__user-info {
    font-size: 1.1rem;
    display: inline-block;
    line-height: 1.8rem;
    margin-left: 20px;
}

.comment__user-name {
    color: var(--White);
    font-weight: 500;
}

.comment__user-adress {
    color: hsla(333, 80%, 67%, 0.5);
    font-weight: 400;
}
.comment__text {
    margin: 24px 26px;
    font-size: 1.1rem;
    color: var(--Light-Grayish-Magenta);
}
.attribution {
    margin-top: 30px;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 500;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
 @media (max-width: 980px)
 {
    .bg-top {
        background: url(../images/bg-pattern-top-mobile.svg);  
    top: -234px;
    left: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    
    }
    .bg-bottom {
      
        background: url(../images/bg-pattern-bottom-desktop.svg);
        background-size: cover;
        background-repeat: no-repeat;
        
        bottom: -682px;
        right: 0px;
    }
  
    .card {
     margin: 60px 24px 0;
    }
    .card-item {
        flex-direction: column;
     
    }
 
    .introduce__heading,
    .introduce__desc {
        text-align: center;
        padding-right: 0;
    }
    .rate {
        margin-top: 30px;
        flex: unset;
        height: 264px;
   
    }
    .rate__item {
        height: 68px;
        max-width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .rate__item:nth-of-type(2),
    .rate__item:nth-of-type(3) {
      margin-left: 0;
    }
    .comment {
        width: 100%;
    }
    .comment:nth-of-type(1),
    .comment:nth-of-type(2),
    .comment:nth-of-type(3)
     {
        margin-top: 20px;
    }
    
 }